@use '@smui/paper/mixins' as paper;
@use 'sass:color';



// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #1570ac,
  $secondary: #f39200,
  $surface: #1b1b1b,
  $background: #1b1b1b,
  $on-primary: #fff,
  $on-surface: #fff,
  $on-secondary: #000000,
  $error: #ff0000);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}

a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
@include paper.paper-color(
  custom-red,
  color-palette.$red-100,
  theme-color.accessible-ink-color(color-palette.$red-100)
);
.custom-red {
  color: color-palette.$red-100;
}
