{
    "parserOptions": {
        "sourceType": "module"
    },
    "ignorePatterns": [".astric"],
    "plugins": ["prettier", "svelte3"],
    "extends": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    }
}
